@use '../conpanents/asets' as *;
@use 'sass:list';
@use 'sass:map';

header{
    width: 100%;
    padding-left: $StandartPad;
    padding-right: $StandartPad;
    padding-top: 41px;
}
nav{   
    @include flex(0px , row ,space-between);
    width: 100%;
    padding-top: $StandartPad;
    padding-bottom: $StandartPad;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: map-get($DarkShederD , darkOrange3);
    background-image: linear-gradient(to left top, map-get($DarkShederD , darkOrange4),map-get($DarkShederD , darkOrange2  )); 
    border-radius: 10px;
    position: relative;

    a{
         @include flex(0px , row ,center);
         align-items: center;
         
         img{
             width: $navLogoWid;
             height: fit-content;
             }
    } 
   
    ul:nth-child(2){
        @include flex(10px , column ,center);
        align-items: center;
        position: fixed; 
        // top: 150px;
        top: -100vh;
        left: 0;
        width: 100%;
        height: fit-content; 

        li{
            width: 90%;
            padding: 14px  20px ;
            list-style: none; 
            background-image: linear-gradient(to left top, map-get($DarkShederD , darkOrange4),map-get($DarkShederD , darkOrange2  )); 

        }
    }
}
.bars{
    @include button(12px,12px ,10px);
    padding:  0 0;
    width: 40px;
    height: 40px;
    background-color: map.get($DarkShederD , darkOrange1);
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    span{
        position: absolute;
        top:30%;
        content: "";
        width: 50%;
        height: 1px;
        background-color: #fff;

        &::after{
            position: absolute;
            right: 0;
            top:7px;
            content: "";
            width: 100%;
            height: 1.3px;
            background-color: #fff;
        }

       &::before{
            position: absolute;
            right: 0;
            top:14px;
            content: "";
            width: 60%;
            height: 1.7px;
            background-color: #fff;
        }
    }
}
.openNavB{
  span{
    transform: rotate(60deg);
    top: 20px;
    height: 2px;
    width: 80%;

    &::after{
      transform: rotate(-100deg);
      height: 3px;
      top:-1px;
    }
    &::before{
      display: none;
    }
  }
}
.LearnMore{
  @include flex(5px , row , left);
}

main{
  width: 100%;
  padding-left: $StandartPad;
  padding-right: $StandartPad;
  @include flex(10px , column , center);
  padding-top:$pad20;
}
.hero{
    width: 100%;
    @include flex(10px , row , space-between);
  
    &__img{
      display: none;
    }
 }

.hero__lable{
          width:100% ;
          background-image: linear-gradient(to left top, map-get($DarkShederD , darkOrange4),map-get($DarkShederD , darkOrange2  )); 
          padding: 40px 24px;
          border-radius: 10px;
          justify-content: space-between;
           @include flex(20px , column , center);
           
          h2{
            @include flex(10px , column ,center);
            a{
              width: fit-content;
              height: fit-content;
              color: map.get($orangeShadesD , darkOrange1);
              background-color: transparent;
              font-size: 20px;
              @include flex(15px , row , center);
              align-items: center;
          }
          h4{
            margin-bottom: 1rem;
          }
     }

          .arow{
              position: relative;
              @include flex(3px , row , center);
              align-items:center;

              i{
                @include button(12px ,12px ,50%);
                font-size: 17px;
                width: fit-content;
                height: fit-content;
                color: $apsalutColor2;
                background-color: map.get($orangeShadesD , darkOrange1);
              }
              &::before{
                content: "";
                width: 50px;
                height: 50px;
                border: 2px solid map.get($orangeShadesD , darkOrange1);
                border-right-width: 0px;
                position: absolute;
                top: -6px;
                border-radius: 50%;
              }
            }
          }

.marquee{
  @include button(20px ,20px , 10px);
  @include flex(10px , row , center);
  background-color: map.get($DarkShederD , darkOrange1);
  width: 100%;
  span{
      width: 70%;
  }
}
    .marquee {
      position: relative;
      width: 100%;
      white-space: nowrap;
      font-family: Arial, sans-serif;
    }
    .marquee-content {
      padding-top: 0.2rem;
      display: inline-block;
      animation: marquee 25s linear infinite;
      color: map.get($GreyShederD , darkOrange1);
      overflow-x: auto;
      scrollbar-width: thin;     
      scrollbar-color:#77777715  transparent; 
      span{
        color: map.get($orangeShadesD , darkOrange1);
      }
    }
    .marquee-content::-webkit-scrollbar {
       display: none; 
    }
    // @keyframes marquee {
    //   0% { transform: translateX(100%); }
    //   100% { transform: translateX(-100%); }
    // }
    .marquee-content span {
      margin: 0 10px;
    }

// hero botom 
.heroBotom{
  padding: 5px 5px;
  border: 2px solid map-get($DarkShederD , darkOrange2  );
  border-radius: 10px;

  &__content{
    width: 100%;
    @include flex(5px , row , space-between);
    flex-wrap: wrap;
    a{
      @include flex(0px , column , center);
      align-items: center;
      padding: 10px 10px;
      width: 49%;
      background-color:map-get($DarkShederD , darkOrange2  ) ;
      border-radius: 10px;
    }
    h2{
      color: map.get($orangeShadesD , darkOrange1);
    }
    .fulCon{
       width: 100% ;
       height: 91px;
    }
    span{
      @include button(10px,10px, 50%);
      @include flex(0px , row , center);
      align-items: center;
      background-color: $apsalutColor2;
    }
  }
}


// reasion

.reasons{
  @include flex(10px , column , center);
}


.reasons__block1{
  width: 100%;
  padding: 18px  18px;
  background-color: map.get($DarkShederD , darkOrange2);
  border-radius:  10px;
}
.reasion2{
  @include flex(10px , column,center);
  margin-top: 0.5rem;
  div{
    border-radius: 10px;
  } 
}




// medios

@media only screen and (min-width:1150px) {
   $StandartPad:20px;
    header{
        padding-left: $StandartPad;
        padding-right: $StandartPad;
    }
    main{
      padding-left: $StandartPad;
      padding-right: $StandartPad;
    }
    nav{
      padding-left: $StandartPad;
      padding-right: $StandartPad;
    }
    nav {
         ul:nth-child(2){
            position: static;
            flex-direction: row;
            @include flex(2rem , row , end);
            align-items: center;
              li{
                width: fit-content;
                padding: 0px 0px;
                background-image: linear-gradient(to left top,#00000000 , #ffffff00 ); 
              }
              a{   
                @include button(15px , 18px , 10px);
              }
              li:nth-child(7){
                a{
                  background-color:map.get($orangeShadesD , darkOrange1) ;
                  color: map.get($DarkShederD , darkOrange2 );
                }
              }
         }
         ul:nth-child(3){
            display: none;
         }
    }
}
@media only screen and (min-width:1200px) {
     $StandartPad:40px;
    header{
        padding-left: $StandartPad;
        padding-right: $StandartPad;
    }
    nav{
        padding-left: $StandartPad;
        padding-right: $StandartPad;
    }
}
@media only screen and (min-width:1700px) {
     $StandartPad:50px;
    header{
        padding-left: $StandartPad;
        padding-right: $StandartPad;
    }
    nav{
         padding-left: $StandartPad;
        padding-right: $StandartPad;
    }
}